@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Poppins,'Lucida Sans', Verdana, sans-serif;
}
header, footer {
    background-color: rgb(41, 41, 41);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: azure;
    padding: 20px;
}

.header-left, .header-middle, .header-right {
    padding: 25px;
}
.header-left a {
    text-decoration: none;
    color: azure;
    font-size: xx-large;
}
.header-middle a:hover{
    background-color: rgb(70, 70, 70);
    border-radius: 5px;
}
.header-middle a:active{
    background-color: rgb(83, 83, 83);
    border-radius: 5px;
    color: black;
}
.header-middle a {
    padding: 10px;
    text-decoration: none;
    color: azure;
    font-size: medium;
}
.header-right a {
    padding: 2px;
    text-decoration: none;
    color: azure;
}
main{
    background: radial-gradient(white, rgb(243, 243, 243), rgb(187, 187, 187));
}
.footer-left, .footer-middle, .footer-right {
    padding: 20px;
}
.footer-left ul, .footer-middle ul, .footer-right ul {
    list-style: none;
    font-size: small;
    padding: 0px; 
    margin: 10px;
    line-height: 2.0;
}
.footer-left a, .footer-middle a, .footer-right a {
    text-decoration: none;
    color: azure;
    padding-left: 2.5px;
}